In [153]:
import pandas as pd
import numpy as np
import requests
import json
import zipfile
import xmltodict
import time
import warnings
import re
from tqdm import tqdm
from io import BytesIO

warnings.filterwarnings(action='ignore')

# Data Load & Preprocess

## [1] DART

In [2]:
# api_key 세팅
api_key = 'a47ee3f06af0391401258e8fc94b90296fa2d7f5'

### 1. 고유번호

In [4]:
url = 'https://opendart.fss.or.kr/api/corpCode.xml'
res = requests.get(url, params={'crtfc_key': api_key})
z = zipfile.ZipFile(BytesIO(res.content))

data_xml = z.read('CORPCODE.xml').decode('utf-8')
data_odict = xmltodict.parse(data_xml)
data_dict = json.loads(json.dumps(data_odict))
data_dart_1 = pd.DataFrame(data_dict.get('result', {}).get('list'))
data_dart_1

      corp_code          corp_name stock_code modify_date
0      00434003                 다코       None    20170630
1      00434456               일산약품       None    20170630
2      00430964              굿앤엘에스       None    20170630
3      00432403               한라판지       None    20170630
4      00388953  크레디피아제이십오차유동화전문회사       None    20170630
...         ...                ...        ...         ...
89361  01560457               삼원개발       None    20210506
89362  01556533          에이더블유파트너스       None    20210506
89363  01546299             동영와이케이       None    20210506
89364  00694605               미디어윌       None    20210506
89365  01368761         엔브이에이치원방테크       None    20210506

[89366 rows x 4 columns]

In [3]:
#data_dart_1.to_pickle('data_dart_1.pkl')
data_dart_1 = pd.read_pickle('data_dart_1.pkl')
data_dart_1

      corp_code          corp_name stock_code modify_date
0      00434003                 다코       None    20170630
1      00434456               일산약품       None    20170630
2      00430964              굿앤엘에스       None    20170630
3      00432403               한라판지       None    20170630
4      00388953  크레디피아제이십오차유동화전문회사       None    20170630
...         ...                ...        ...         ...
89361  01560457               삼원개발       None    20210506
89362  01556533          에이더블유파트너스       None    20210506
89363  01546299             동영와이케이       None    20210506
89364  00694605               미디어윌       None    20210506
89365  01368761         엔브이에이치원방테크       None    20210506

[89366 rows x 4 columns]

In [4]:
# stock_code 있는 건들만 선별
data_dart_1_nn = data_dart_1[data_dart_1.stock_code.notnull()]
data_dart_1_nn

      corp_code corp_name stock_code modify_date
2013   00260985      한빛네트     036720    20170630
2025   00264529      엔플렉스     040130    20170630
2026   00358545    동서정보기술     055000    20170630
2788   00231567     애드모바일     032600    20170630
3896   00247939       씨모스     037600    20170630
...         ...       ...        ...         ...
89302  00521390   뉴파워프라즈마     144960    20211125
89311  00664853    제이씨케미칼     137950    20211126
89313  00307028      경남제약     053950    20211201
89344  00874195     코썬바이오     204990    20211027
89348  01264438    자이언트스텝     289220    20211028

[3401 rows x 4 columns]

### 2. 기업개황

In [26]:
data_dart_2 = pd.DataFrame()

for code in tqdm(data_dart_1_nn.corp_code.tolist()):
    url = f'https://opendart.fss.or.kr/api/company.json?crtfc_key={api_key}&corp_code={code}'
    res = requests.get(url)
    text = json.loads(res.text)
    
    if text['message'] == '정상':
        data_dart_2 = pd.concat([data_dart_2, pd.DataFrame.from_dict(text, orient='index').T], axis=0)
    
data_dart_2

100%|██████████████████████████████████████████████████████████████████████████████| 3401/3401 [04:58<00:00, 11.41it/s]

,status,message,corp_code,corp_name,corp_name_eng,stock_name,stock_code,ceo_nm,corp_cls,jurir_no,bizr_no,adres,hm_url,ir_url,phn_no,fax_no,induty_code,est_dt,acc_mt
0,000,정상,00260985,한빛네트,"HanbitNet, Inc.",한빛네트,036720,강승환,E,1101111443079,2088124283,서울특별시 종로구 익선동 30-6,www.hanbitnet.com,,02-3668-0114,02-3668-0112,58221,19970722,12
0,000,정상,00264529,(주)엔플렉스,"Nplex,Inc.",엔플렉스,040130,이 정 학,E,1101111601750,2208156354,서울특별시 강남구 논현동 98 동익빌딩 2층,www.gamekorea.net,,(02) 3453-7111,(02) 3453-7345,58221,19981030,12
0,000,정상,00358545,(주)동서정보기술,"Dong Seo Information Technology Co., Ltd.",동서정보기술,055000,이희봉,E,1101111259525,2208103653,서울특별시 강남구 대치동 997-4,http://www.dsit.co.kr,,02-565-4510 (220),02-3453-4552,58221,19960410,12
0,000,정상,00231567,주식회사 애드모바일,,애드모바일,032600,김용석,E,1101111166837,1208151156,서울특별시 강서구 가양동 1458-9 동남빌딩 2층,www.kdline.co.kr,,02-518-0101 (변광섭),02-518-0133,58221,19950614,12
0,000,정상,00247939,(주)씨모스,"creative master of semiconductor. co.,ltd",씨모스,037600,유인엽,E,1201110118077,1398120545,인천광역시 남동구 고잔동 685-6,www.cmos21.co.kr,,032-814-0981-4,032-814-0985,29294,19950509,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,000,정상,00521390,(주)뉴파워프라즈마,"New Power Plasma Co.,Ltd",뉴파워프라즈마,144960,위순임,K,1101111784952,2128144110,경기도 수원시 권선구 산업로155번길 214 (주)뉴파워프라즈마,newpower.co.kr,,031-612-7600,031-612-7699,29271,19991007,12
0,000,정상,00664853,제이씨케미칼(주),"JC Chemical Corporation, LTD.",제이씨케미칼,137950,"윤사호, 이종응",K,1358110124726,1358185115,울산광역시 울주군 온산읍 화산1길 70,www.jcchemical.co.kr,,02-6321-1333,027615404,2049,20060324,12
0,000,정상,00307028,경남제약 주식회사,"KYUNG NAM PHARM.CO.,LTD.",경남제약,053950,오성원,K,1350110085255,1348142258,경상남도 의령군 동동리 1539-5,www.kyungnampharm.co.kr,,02-3490-5105,02)3490-5129,212,19981229,12
0,000,정상,00874195,(주)코썬바이오,"Kosun Bio Co., Ltd.",코썬바이오,204990,조규면,E,1101113505421,2148794321,서울특별시 영등포구 선유로 146 이앤씨드림타워 207호,www.hsvital.com,,02-2628-0550,02-2628-0561,10797,20060808,12
0,000,정상,01264438,(주)자이언트스텝,GIANTSTEP Inc.,자이언트스텝,289220,"하승봉, 이지철",K,1101113909839,2118813952,서울특별시 강남구 학동로37길 8,www.giantstep.co.kr,,02-549-0005,02-549-0903,59113,20080605,12

In [5]:
#data_dart_2.to_pickle('data_dart_2.pkl')
data_dart_2 = pd.read_pickle('data_dart_2.pkl')
data_dart_2

,status,message,corp_code,corp_name,corp_name_eng,stock_name,stock_code,ceo_nm,corp_cls,jurir_no,bizr_no,adres,hm_url,ir_url,phn_no,fax_no,induty_code,est_dt,acc_mt
0,000,정상,00260985,한빛네트,"HanbitNet, Inc.",한빛네트,036720,강승환,E,1101111443079,2088124283,서울특별시 종로구 익선동 30-6,www.hanbitnet.com,,02-3668-0114,02-3668-0112,58221,19970722,12
0,000,정상,00264529,(주)엔플렉스,"Nplex,Inc.",엔플렉스,040130,이 정 학,E,1101111601750,2208156354,서울특별시 강남구 논현동 98 동익빌딩 2층,www.gamekorea.net,,(02) 3453-7111,(02) 3453-7345,58221,19981030,12
0,000,정상,00358545,(주)동서정보기술,"Dong Seo Information Technology Co., Ltd.",동서정보기술,055000,이희봉,E,1101111259525,2208103653,서울특별시 강남구 대치동 997-4,http://www.dsit.co.kr,,02-565-4510 (220),02-3453-4552,58221,19960410,12
0,000,정상,00231567,주식회사 애드모바일,,애드모바일,032600,김용석,E,1101111166837,1208151156,서울특별시 강서구 가양동 1458-9 동남빌딩 2층,www.kdline.co.kr,,02-518-0101 (변광섭),02-518-0133,58221,19950614,12
0,000,정상,00247939,(주)씨모스,"creative master of semiconductor. co.,ltd",씨모스,037600,유인엽,E,1201110118077,1398120545,인천광역시 남동구 고잔동 685-6,www.cmos21.co.kr,,032-814-0981-4,032-814-0985,29294,19950509,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,000,정상,00521390,(주)뉴파워프라즈마,"New Power Plasma Co.,Ltd",뉴파워프라즈마,144960,위순임,K,1101111784952,2128144110,경기도 수원시 권선구 산업로155번길 214 (주)뉴파워프라즈마,newpower.co.kr,,031-612-7600,031-612-7699,29271,19991007,12
0,000,정상,00664853,제이씨케미칼(주),"JC Chemical Corporation, LTD.",제이씨케미칼,137950,"윤사호, 이종응",K,1358110124726,1358185115,울산광역시 울주군 온산읍 화산1길 70,www.jcchemical.co.kr,,02-6321-1333,027615404,2049,20060324,12
0,000,정상,00307028,경남제약 주식회사,"KYUNG NAM PHARM.CO.,LTD.",경남제약,053950,오성원,K,1350110085255,1348142258,경상남도 의령군 동동리 1539-5,www.kyungnampharm.co.kr,,02-3490-5105,02)3490-5129,212,19981229,12
0,000,정상,00874195,(주)코썬바이오,"Kosun Bio Co., Ltd.",코썬바이오,204990,조규면,E,1101113505421,2148794321,서울특별시 영등포구 선유로 146 이앤씨드림타워 207호,www.hsvital.com,,02-2628-0550,02-2628-0561,10797,20060808,12
0,000,정상,01264438,(주)자이언트스텝,GIANTSTEP Inc.,자이언트스텝,289220,"하승봉, 이지철",K,1101113909839,2118813952,서울특별시 강남구 학동로37길 8,www.giantstep.co.kr,,02-549-0005,02-549-0903,59113,20080605,12

### 3. 직원현황

In [14]:
data_dart_3 = pd.DataFrame()

for code in tqdm(data_dart_1_nn.corp_code.tolist()):
    for year in ['2019', '2018']:
        url = f'https://opendart.fss.or.kr/api/empSttus.json?crtfc_key={api_key}&corp_code={code}&bsns_year={year}&reprt_code=11011'
        res = requests.get(url)
        text = json.loads(res.text)
        
        if text['message'] == '정상':
            data_dart_3 = pd.concat([data_dart_3, pd.DataFrame(text['list'])], axis=0)
        else:
            break
            
        time.sleep(0.5)
    
    time.sleep(1)

data_dart_3

100%|████████████████████████████████████████████████████████████████████████████| 3401/3401 [1:46:14<00:00,  1.87s/it]

,rcept_no,corp_cls,corp_code,corp_name,rm,sexdstn,fo_bbm,reform_bfe_emp_co_rgllbr,reform_bfe_emp_co_cnttk,reform_bfe_emp_co_etc,rgllbr_co,rgllbr_abacpt_labrr_co,cnttk_co,cnttk_abacpt_labrr_co,sm,avrg_cnwk_sdytrn,fyer_salary_totamt,jan_salary_am
0,20200424000043,K,00956028,엑세스바이오,단위:USD,남,사무,-,-,-,12,-,-,-,12,3.36,"865,006","72,084"
1,20200424000043,K,00956028,엑세스바이오,단위:USD,여,사무,-,-,-,8,-,-,-,8,3.81,"395,183","49,398"
2,20200424000043,K,00956028,엑세스바이오,단위:USD,남,영업,-,-,-,4,-,-,-,4,4.18,"308,347","77,087"
3,20200424000043,K,00956028,엑세스바이오,단위:USD,여,영업,-,-,-,-,-,-,-,-,-,-,-
4,20200424000043,K,00956028,엑세스바이오,단위:USD,남,연구,-,-,-,7,-,-,-,7,3.67,"619,224","88,461"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,20191001000296,K,00307028,경남제약,-,여,생산,-,-,-,54,-,3,-,57,15년11개월,"1,891,171,000","33,178,000"
0,20200331001563,E,00874195,코썬바이오,-,남,-,-,-,-,25,-,2,-,27,3년 10개월,"816,563,000","30,243,000"
1,20200331001563,E,00874195,코썬바이오,-,여,-,-,-,-,21,-,1,-,22,4년 6개월,"507,678,000","23,076,000"
0,20190401001362,E,00874195,코썬바이오,-,남,-,-,-,-,33,-,1,-,34,3년 3개월,"969,545,560","31,275,663"
1,20190401001362,E,00874195,코썬바이오,-,여,-,-,-,-,38,-,3,-,41,2년 11개월,"842,877,690","23,145,383"

In [7]:
# 2019, 2018
#data_dart_3.to_pickle('data_dart_3.pkl')
data_dart_3_1 = pd.read_pickle('data_dart_3.pkl')
data_dart_3_1

,rcept_no,corp_cls,corp_code,corp_name,rm,sexdstn,fo_bbm,reform_bfe_emp_co_rgllbr,reform_bfe_emp_co_cnttk,reform_bfe_emp_co_etc,rgllbr_co,rgllbr_abacpt_labrr_co,cnttk_co,cnttk_abacpt_labrr_co,sm,avrg_cnwk_sdytrn,fyer_salary_totamt,jan_salary_am
0,20200424000043,K,00956028,엑세스바이오,단위:USD,남,사무,-,-,-,12,-,-,-,12,3.36,"865,006","72,084"
1,20200424000043,K,00956028,엑세스바이오,단위:USD,여,사무,-,-,-,8,-,-,-,8,3.81,"395,183","49,398"
2,20200424000043,K,00956028,엑세스바이오,단위:USD,남,영업,-,-,-,4,-,-,-,4,4.18,"308,347","77,087"
3,20200424000043,K,00956028,엑세스바이오,단위:USD,여,영업,-,-,-,-,-,-,-,-,-,-,-
4,20200424000043,K,00956028,엑세스바이오,단위:USD,남,연구,-,-,-,7,-,-,-,7,3.67,"619,224","88,461"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,20191001000296,K,00307028,경남제약,-,여,생산,-,-,-,54,-,3,-,57,15년11개월,"1,891,171,000","33,178,000"
0,20200331001563,E,00874195,코썬바이오,-,남,-,-,-,-,25,-,2,-,27,3년 10개월,"816,563,000","30,243,000"
1,20200331001563,E,00874195,코썬바이오,-,여,-,-,-,-,21,-,1,-,22,4년 6개월,"507,678,000","23,076,000"
0,20190401001362,E,00874195,코썬바이오,-,남,-,-,-,-,33,-,1,-,34,3년 3개월,"969,545,560","31,275,663"
1,20190401001362,E,00874195,코썬바이오,-,여,-,-,-,-,38,-,3,-,41,2년 11개월,"842,877,690","23,145,383"

In [10]:
#data_dart_3.to_pickle('data_dart_4.pkl')
# 2020, 2019
data_dart_3_2 = pd.read_pickle('data_dart_4.pkl')  
data_dart_3_2

,rcept_no,corp_cls,corp_code,corp_name,rm,sexdstn,fo_bbm,reform_bfe_emp_co_rgllbr,reform_bfe_emp_co_cnttk,reform_bfe_emp_co_etc,rgllbr_co,rgllbr_abacpt_labrr_co,cnttk_co,cnttk_abacpt_labrr_co,sm,avrg_cnwk_sdytrn,fyer_salary_totamt,jan_salary_am
0,20210316000210,K,00956028,엑세스바이오,단위:USD,남,사무,-,-,-,10,-,-,-,10,8.64,"943,156","94,316"
1,20210316000210,K,00956028,엑세스바이오,단위:USD,여,사무,-,-,-,4,-,-,-,4,7.65,"319,674","79,919"
2,20210316000210,K,00956028,엑세스바이오,단위:USD,남,영업,-,-,-,4,-,-,-,4,6.07,"521,380","130,345"
3,20210316000210,K,00956028,엑세스바이오,단위:USD,여,영업,-,-,-,1,-,-,-,1,0.25,"13,514","13,514"
4,20210316000210,K,00956028,엑세스바이오,단위:USD,남,연구,-,-,-,7,-,-,-,7,4.92,"853,502","121,929"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,20210331003230,K,01264438,자이언트스텝,-,여,제작,-,-,-,68,-,-,-,68,2.3,"1,953,000,000","32,000,000"
2,20210331003230,K,01264438,자이언트스텝,-,남,연구개발,-,-,-,14,-,-,-,14,1.8,"712,000,000","56,000,000"
3,20210331003230,K,01264438,자이언트스텝,-,여,연구개발,-,-,-,6,-,-,-,6,1.1,"146,000,000","30,000,000"
4,20210331003230,K,01264438,자이언트스텝,-,남,관리,-,-,-,11,2,-,-,13,4.1,"451,000,000","47,000,000"
5,20210331003230,K,01264438,자이언트스텝,-,여,관리,-,-,-,8,-,-,-,8,3.8,"291,000,000","36,000,000"

In [115]:
data_dart_3 = pd.concat([data_dart_3_1, data_dart_3_2])
data_dart_3 = data_dart_3.drop_duplicates()
data_dart_3

,rcept_no,corp_cls,corp_code,corp_name,rm,sexdstn,fo_bbm,reform_bfe_emp_co_rgllbr,reform_bfe_emp_co_cnttk,reform_bfe_emp_co_etc,rgllbr_co,rgllbr_abacpt_labrr_co,cnttk_co,cnttk_abacpt_labrr_co,sm,avrg_cnwk_sdytrn,fyer_salary_totamt,jan_salary_am
0,20200424000043,K,00956028,엑세스바이오,단위:USD,남,사무,-,-,-,12,-,-,-,12,3.36,"865,006","72,084"
1,20200424000043,K,00956028,엑세스바이오,단위:USD,여,사무,-,-,-,8,-,-,-,8,3.81,"395,183","49,398"
2,20200424000043,K,00956028,엑세스바이오,단위:USD,남,영업,-,-,-,4,-,-,-,4,4.18,"308,347","77,087"
3,20200424000043,K,00956028,엑세스바이오,단위:USD,여,영업,-,-,-,-,-,-,-,-,-,-,-
4,20200424000043,K,00956028,엑세스바이오,단위:USD,남,연구,-,-,-,7,-,-,-,7,3.67,"619,224","88,461"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,20210331003230,K,01264438,자이언트스텝,-,여,제작,-,-,-,68,-,-,-,68,2.3,"1,953,000,000","32,000,000"
2,20210331003230,K,01264438,자이언트스텝,-,남,연구개발,-,-,-,14,-,-,-,14,1.8,"712,000,000","56,000,000"
3,20210331003230,K,01264438,자이언트스텝,-,여,연구개발,-,-,-,6,-,-,-,6,1.1,"146,000,000","30,000,000"
4,20210331003230,K,01264438,자이언트스텝,-,남,관리,-,-,-,11,2,-,-,13,4.1,"451,000,000","47,000,000"
5,20210331003230,K,01264438,자이언트스텝,-,여,관리,-,-,-,8,-,-,-,8,3.8,"291,000,000","36,000,000"

In [116]:
data_dart_3['year'] = data_dart_3.rcept_no.apply(lambda x: x[:4])
data_dart_3.year.value_counts()  # 2018, 2022 데이터 수가 확연히 적음 -> 삭제

2021    8809
2020    7975
2019    7394
2018     118
2022       4
Name: year, dtype: int64

In [117]:
# 2018, 2022 데이터 삭제
data_dart_3 = data_dart_3[~(data_dart_3.year.isin(['2018', '2022']))]
data_dart_3.year.value_counts()

2021    8809
2020    7975
2019    7394
Name: year, dtype: int64

In [118]:
# 년도별 기업 개수 파악
data_dart_3.pivot_table(index='year',
                        aggfunc=lambda x: len(x.unique()),
                        values='corp_code')

      corp_code
year
2019       2243
2020       2367
2021       2505

In [119]:
# 기업 내 직군 개수 파악 -> maximum 18개 직군
data_dart_3.pivot_table(index='corp_code',
                        aggfunc=lambda x: len(x.unique()),
                        values='fo_bbm').sort_values(by='fo_bbm', ascending=False)

           fo_bbm
corp_code
00453488       18
00992543       15
00126186       14
00132637       13
00375931       12
...           ...
00311270        1
00310156        1
00307897        1
00306870        1
01514528        1

[2587 rows x 1 columns]

In [120]:
data_dart_3[data_dart_3.corp_code == '00453488']

,rcept_no,corp_cls,corp_code,corp_name,rm,sexdstn,fo_bbm,reform_bfe_emp_co_rgllbr,reform_bfe_emp_co_cnttk,reform_bfe_emp_co_etc,rgllbr_co,rgllbr_abacpt_labrr_co,cnttk_co,cnttk_abacpt_labrr_co,sm,avrg_cnwk_sdytrn,fyer_salary_totamt,jan_salary_am,year
0,20200330003726,Y,00453488,다이나믹디자인,-,남,경영진,-,-,-,12,-,-,-,12,4.7,"1,181,000,000","98,000,000",2020
1,20200330003726,Y,00453488,다이나믹디자인,-,여,품질관리부문,-,-,-,1,-,-,-,1,3.9,"32,000,000","32,000,000",2020
2,20200330003726,Y,00453488,다이나믹디자인,-,남,R&D 센터,-,-,-,13,-,1,-,14,6.4,"716,000,000","51,000,000",2020
3,20200330003726,Y,00453488,다이나믹디자인,-,여,R&D 센터,-,-,-,1,1,-,-,2,15.8,"71,000,000","35,000,000",2020
4,20200330003726,Y,00453488,다이나믹디자인,-,남,해외사업부문,-,-,-,6,-,-,-,6,11.4,"341,000,000","57,000,000",2020
5,20200330003726,Y,00453488,다이나믹디자인,-,여,해외사업부문,-,-,-,1,-,-,-,1,6.8,"43,000,000","43,000,000",2020
6,20200330003726,Y,00453488,다이나믹디자인,-,여,경영진,-,-,-,-,-,-,-,-,-,-,-,2020
7,20200330003726,Y,00453488,다이나믹디자인,-,남,경영관리부문,-,-,-,17,-,-,5,22,3.9,"874,000,000","40,000,000",2020
8,20200330003726,Y,00453488,다이나믹디자인,-,여,경영관리부문,-,-,-,9,-,-,-,9,3.9,"359,000,000","40,000,000",2020
9,20200330003726,Y,00453488,다이나믹디자인,-,남,영업부문,-,-,-,11,-,-,-,11,6.5,"565,000,000","51,000,000",2020
10,20200330003726,Y,00453488,다이나믹디자인,-,여,영업부문,-,-,-,6,-,-,-,6,3.8,"219,000,000","37,000,000",2020
11,20200330003726,Y,00453488,다이나믹디자인,-,남,생산부문,-,-,-,294,-,-,-,294,2.2,"8,117,000,000","28,000,000",2020
12,20200330003726,Y,00453488,다이나믹디자인,-,여,생산부문,-,-,-,53,-,-,-,53,2.7,"1,453,000,000","27,000,000",2020
13,20200330003726,Y,00453488,다이나믹디자인,-,남,품질관리부문,-,-,-,20,-,-,-,20,6.2,"816,000,000","41,000,000",2020
0,20190517000381,Y,00453488,다이나믹디자인,-,남,경영진,-,-,-,18,-,-,-,18,2.9,"1,453,000,000","81,000,000",2019
1,20190517000381,Y,00453488,다이나믹디자인,-,여,품질관리부문,-,-,-,3,-,-,-,3,8.2,"121,000,000","40,000,000",2019
2,20190517000381,Y,00453488,다이나믹디자인,-,남,R&D 센터,-,-,-,10,-,-,-,10,5.3,"446,000,000","45,000,000",2019
3,20190517000381,Y,00453488,다이나믹디자인,-,여,R&D 센터,-,-,-,3,-,-,-,3,9.5,"146,000,000","49,000,000",2019
4,20190517000381,Y,00453488,다이나믹디자인,-,남,해외사업부문,-,-,-,8,-,-,-,8,11.3,"484,000,000","60,000,000",2019
5,20190517000381,Y,00453488,다이나믹디자인,-,여,해외사업부문,-,-,-,1,-,-,-,1,5.8,"43,000,000","43,000,000",2019
6,20190517000381,Y,00453488,다이나믹디자인,-,여,경영진,-,-,-,1,-,-,-,1,0.8,"30,000,000","30,000,000",2019
7,20190517000381,Y,00453488,다이나믹디자인,-,남,경영관리부문,-,-,-,22,-,-,-,22,3.4,"1,017,000,000","46,000,000",2019
8,20190517000381,Y,00453488,다이나믹디자인,-,여,경영관리부문,-,-,-,7,-,2,-,9,3.4,"326,000,000","36,000,000",2019
9,20190517000381,Y,00453488,다이나믹디자인,-,남,영업부문,-,-,-,12,-,-,-,12,5.4,"578,000,000","48,000,000",2019
10,20190517000381,Y,00453488,다이나믹디자인,-,여,영업부문,-,-,-,7,-,-,-,7,4.0,"280,000,000","40,000,000",2019
11,20190517000381,Y,00453488,다이나믹디자인,-,남,생산부문,-,-,-,354,-,-,-,354,1.5,"10,751,000,000","30,000,000",2019
12,20190517000381,Y,00453488,다이나믹디자인,-,여,생산부문,-,-,-,62,-,-,-,62,1.7,"1,613,000,000","26,000,000",2019
13,20190517000381,Y,00453488,다이나믹디자인,-,남,품질관리부문,-,-,-,26,-,-,-,26,5.1,"1,003,000,000","39,000,000",2019
0,20210813001154,Y,00453488,다이나믹디자인,-,남,경영진,-,-,-,3,-,-,-,3,4.8,"340,000,000","113,000,000",2021
1,20210813001154,Y,00453488,다이나믹디자인,-,여,품질부문,-,-,-,1,-,-,-,1,4.9,"32,000,000","32,000,000",2021
2,20210813001154,Y,00453488,다이나믹디자인,-,남,R&D부문,-,-,-,10,-,-,-,10,7.8,"479,000,000","48,000,000",2021
3,20210813001154,Y,00453488,다이나믹디자인,-,여,R&D부문,-,-,-,2,1,-,-,2,8.9,"71,000,000","35,000,000",2021
4,20210813001154,Y,00453488,다이나믹디자인,-,남,해외사업부문,-,-,-,8,-,-,-,8,9.7,"447,000,000","56,000,000",2021
5,20210813001154,Y,00453488,다이나믹디자인,-,여,해외사업부문,-,-,-,1,-,-,-,1,0.3,"43,000,000","43,000,000",2021
6,20210813001154,Y,00453488,다이나믹디자인,-,남,신사업부문,-,-,-,50,-,1,-,51,3.5,"1,477,000,000","29,000,000",2021
7,20210813001154,Y,00453488,다이나믹디자인,-,여,신사업부문,-,-,-,2,-,-,-,2,3.3,"45,000,000","23,000,000",2021
8,20210813001154,Y,00453488,다이나믹디자인,-,여,경영진,-,-,-,-,-,-,-,-,-,-,-,2021
9,20210813001154,Y,00453488,다이나믹디자인,-,남,관리부문,-,-,-,18,-,5,4,23,4.6,"1,019,000,000","44,000,000",2021
10,20210813001154,Y,00453488,다이나믹디자인,-,여,관리부문,-,-,-,10,-,-,-,10,4.5,"395,000,000","40,000,000",2021
11,20210813001154,Y,00453488,다이나믹디자인,-,남,영업부문,-,-,-,7,-,2,-,9,6.2,"422,000,000","47,000,000",2021
12,20210813001154,Y,00453488,다이나믹디자인,-,여,영업부문,-,-,-,2,-,2,-,4,2.4,"127,000,000","32,000,000",2021
13,20210813001154,Y,00453488,다이나믹디자인,-,남,생산부문,-,-,-,234,-,5,-,239,3.2,"7,041,000,000","29,000,000",2021
14,20210813001154,Y,00453488,다이나믹디자인,-,여,생산부문,-,-,-,49,-,1,-,50,3.6,"1,442,000,000","29,000,000",2021
15,20210813001154,Y,00453488,다이나믹디자인,-,남,품질부문,-,-,-,16,-,-,-,16,8.1,"658,000,000","41,000,000",2021

In [121]:
# data preprocessing
# '-' 값을 null값으로 쓰고 있으므로, null로 전환 후 null값 현황 파악

for col in data_dart_3.columns:
    data_dart_3[col] = data_dart_3[col].apply(lambda x: np.NaN if x == '-' else x)
    
data_dart_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24178 entries, 0 to 5
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   rcept_no                  24178 non-null  object
 1   corp_cls                  24178 non-null  object
 2   corp_code                 24178 non-null  object
 3   corp_name                 24178 non-null  object
 4   rm                        718 non-null    object
 5   sexdstn                   24178 non-null  object
 6   fo_bbm                    22528 non-null  object
 7   reform_bfe_emp_co_rgllbr  0 non-null      float64
 8   reform_bfe_emp_co_cnttk   0 non-null      float64
 9   reform_bfe_emp_co_etc     0 non-null      float64
 10  rgllbr_co                 23465 non-null  object
 11  rgllbr_abacpt_labrr_co    2806 non-null   object
 12  cnttk_co                  11659 non-null  object
 13  cnttk_abacpt_labrr_co     3012 non-null   object
 14  sm                        23529 non-null  object
 15  avrg_cnwk_sdytrn          23333 non-null  object
 16  fyer_salary_totamt        22879 non-null  object
 17  jan_salary_am             22856 non-null  object
 18  year                      24178 non-null  object
dtypes: float64(3), object(16)
memory usage: 4.3+ MB

In [126]:
# 모두 null인 컬럼 제외
# sm, avrg_cnwk_sdytrn, fyer_salary_totamt, jan_salary_am가 모두 null값인 케이스 제외

data_dart_3 = data_dart_3.drop(['reform_bfe_emp_co_rgllbr', 'reform_bfe_emp_co_cnttk', 'reform_bfe_emp_co_etc'], axis=1)
data_dart_3 = data_dart_3[~((data_dart_3.sm == np.NaN) &
                        (data_dart_3.avrg_cnwk_sdytrn == np.NaN) &
                        (data_dart_3.fyer_salary_totamt == np.NaN) &
                        (data_dart_3.jan_salary_am == np.NaN))]
data_dart_3

,rcept_no,corp_cls,corp_code,corp_name,rm,sexdstn,fo_bbm,rgllbr_co,rgllbr_abacpt_labrr_co,cnttk_co,cnttk_abacpt_labrr_co,sm,avrg_cnwk_sdytrn,fyer_salary_totamt,jan_salary_am,year
0,20200424000043,K,00956028,엑세스바이오,단위:USD,남,사무,12,NaN,NaN,NaN,12,3.36,"865,006","72,084",2020
1,20200424000043,K,00956028,엑세스바이오,단위:USD,여,사무,8,NaN,NaN,NaN,8,3.81,"395,183","49,398",2020
2,20200424000043,K,00956028,엑세스바이오,단위:USD,남,영업,4,NaN,NaN,NaN,4,4.18,"308,347","77,087",2020
3,20200424000043,K,00956028,엑세스바이오,단위:USD,여,영업,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020
4,20200424000043,K,00956028,엑세스바이오,단위:USD,남,연구,7,NaN,NaN,NaN,7,3.67,"619,224","88,461",2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,20210331003230,K,01264438,자이언트스텝,NaN,여,제작,68,NaN,NaN,NaN,68,2.3,"1,953,000,000","32,000,000",2021
2,20210331003230,K,01264438,자이언트스텝,NaN,남,연구개발,14,NaN,NaN,NaN,14,1.8,"712,000,000","56,000,000",2021
3,20210331003230,K,01264438,자이언트스텝,NaN,여,연구개발,6,NaN,NaN,NaN,6,1.1,"146,000,000","30,000,000",2021
4,20210331003230,K,01264438,자이언트스텝,NaN,남,관리,11,2,NaN,NaN,13,4.1,"451,000,000","47,000,000",2021
5,20210331003230,K,01264438,자이언트스텝,NaN,여,관리,8,NaN,NaN,NaN,8,3.8,"291,000,000","36,000,000",2021

In [127]:
# rm(비고) 중 단위 다른 케이스 살펴보기
data_dart_3[data_dart_3.rm.fillna('').str.contains('단위')]

,rcept_no,corp_cls,corp_code,corp_name,rm,sexdstn,fo_bbm,rgllbr_co,rgllbr_abacpt_labrr_co,cnttk_co,cnttk_abacpt_labrr_co,sm,avrg_cnwk_sdytrn,fyer_salary_totamt,jan_salary_am,year
0,20200424000043,K,00956028,엑세스바이오,단위:USD,남,사무,12,NaN,NaN,NaN,12,3.36,"865,006","72,084",2020
1,20200424000043,K,00956028,엑세스바이오,단위:USD,여,사무,8,NaN,NaN,NaN,8,3.81,"395,183","49,398",2020
2,20200424000043,K,00956028,엑세스바이오,단위:USD,남,영업,4,NaN,NaN,NaN,4,4.18,"308,347","77,087",2020
3,20200424000043,K,00956028,엑세스바이오,단위:USD,여,영업,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020
4,20200424000043,K,00956028,엑세스바이오,단위:USD,남,연구,7,NaN,NaN,NaN,7,3.67,"619,224","88,461",2020
5,20200424000043,K,00956028,엑세스바이오,단위:USD,여,연구,3,NaN,NaN,NaN,3,4.57,"180,408","60,136",2020
6,20200424000043,K,00956028,엑세스바이오,단위:USD,남,생산,19,NaN,NaN,NaN,19,3.12,"1,121,119","59,006",2020
7,20200424000043,K,00956028,엑세스바이오,단위:USD,여,생산,9,NaN,NaN,NaN,9,5.44,"536,325","59,592",2020
0,20190430001200,K,00956028,엑세스바이오,단위:USD,남,사무,12,NaN,NaN,NaN,12,3.0,"822,894","68,575",2019
1,20190430001200,K,00956028,엑세스바이오,단위:USD,여,사무,7,NaN,NaN,NaN,7,4.0,"388,021","55,432",2019
2,20190430001200,K,00956028,엑세스바이오,단위:USD,남,영업,6,NaN,NaN,NaN,6,5.2,"455,839","75,973",2019
3,20190430001200,K,00956028,엑세스바이오,단위:USD,여,영업,0,NaN,NaN,NaN,0,0.0,0,0,2019
4,20190430001200,K,00956028,엑세스바이오,단위:USD,남,연구,6,NaN,NaN,NaN,6,3.2,"413,403","68,901",2019
5,20190430001200,K,00956028,엑세스바이오,단위:USD,여,연구,4,NaN,NaN,NaN,4,7.2,"213,489","53,372",2019
6,20190430001200,K,00956028,엑세스바이오,단위:USD,남,생산,17,NaN,NaN,NaN,17,3.3,"1,074,306","63,194",2019
7,20190430001200,K,00956028,엑세스바이오,단위:USD,여,생산,9,NaN,NaN,NaN,9,5.0,"330,107","36,679",2019
0,20210121000034,K,01245062,코오롱티슈진,단위 : 천USD,남,바이오사업부,15,NaN,NaN,NaN,15,2.4,"1,778,000","119,000",2021
1,20210121000034,K,01245062,코오롱티슈진,단위 : 천USD,여,바이오사업부,13,NaN,NaN,NaN,13,1.8,"1,038,000","80,000",2021
0,20200330002322,K,01165739,잉글우드랩,단위: 천USD,남,화장품,86,NaN,NaN,NaN,86,4.1,"6,114,632","71,100",2020
1,20200330002322,K,01165739,잉글우드랩,단위: 천USD,여,화장품,72,NaN,NaN,NaN,72,3.5,"4,022,138","55,863",2020
0,20190329003235,K,01165739,잉글우드랩,단위: 천USD,남,화장품,84,NaN,NaN,NaN,84,3.8,"6,289",75,2019
1,20190329003235,K,01165739,잉글우드랩,단위: 천USD,여,화장품,69,NaN,NaN,NaN,69,3.5,"5,087",74,2019
0,20190401003649,Y,00126292,삼성카드,"(단위:명, 년, 백만원)",남,전사,"1,244",NaN,78,13,"1,322",15,"154,075,000,000","117,000,000",2019
1,20190401003649,Y,00126292,삼성카드,"(단위:명, 년, 백만원)",여,전사,598,19,135,31,733,10,"53,796,000,000","73,000,000",2019
0,20210316000210,K,00956028,엑세스바이오,단위:USD,남,사무,10,NaN,NaN,NaN,10,8.64,"943,156","94,316",2021
1,20210316000210,K,00956028,엑세스바이오,단위:USD,여,사무,4,NaN,NaN,NaN,4,7.65,"319,674","79,919",2021
2,20210316000210,K,00956028,엑세스바이오,단위:USD,남,영업,4,NaN,NaN,NaN,4,6.07,"521,380","130,345",2021
3,20210316000210,K,00956028,엑세스바이오,단위:USD,여,영업,1,NaN,NaN,NaN,1,0.25,"13,514","13,514",2021
4,20210316000210,K,00956028,엑세스바이오,단위:USD,남,연구,7,NaN,NaN,NaN,7,4.92,"853,502","121,929",2021
5,20210316000210,K,00956028,엑세스바이오,단위:USD,여,연구,2,NaN,NaN,NaN,2,9.49,"158,987","79,494",2021
6,20210316000210,K,00956028,엑세스바이오,단위:USD,남,생산,21,NaN,NaN,NaN,21,4.50,"1,824,524","86,882",2021
7,20210316000210,K,00956028,엑세스바이오,단위:USD,여,생산,16,NaN,NaN,NaN,16,4.74,"1,562,110","97,632",2021
0,20210323001016,K,01442115,소마젠,단위 : USD,남,임원,3,NaN,NaN,NaN,3,4.6,"189,709","63,236",2021
1,20210323001016,K,01442115,소마젠,단위 : USD,여,생산,23,NaN,NaN,NaN,23,2.5,"844,610","36,722",2021
2,20210323001016,K,01442115,소마젠,단위 : USD,여,임원,4,NaN,NaN,NaN,4,6.5,"398,724","99,681",2021
3,20210323001016,K,01442115,소마젠,단위 : USD,남,사무,12,NaN,NaN,NaN,12,1.8,"527,381","43,948",2021
4,20210323001016,K,01442115,소마젠,단위 : USD,여,사무,12,NaN,NaN,NaN,12,2.7,"518,701","43,225",2021
5,20210323001016,K,01442115,소마젠,단위 : USD,남,영업,6,NaN,NaN,NaN,6,1.3,"330,626","55,104",2021
6,20210323001016,K,01442115,소마젠,단위 : USD,여,영업,10,NaN,NaN,NaN,10,2.4,"481,980","48,198",2021
7,20210323001016,K,01442115,소마젠,단위 : USD,남,연구,5,NaN,NaN,NaN,5,1.2,"276,987","55,397",2021
8,20210323001016,K,01442115,소마젠,단위 : USD,여,연구,3,NaN,NaN,NaN,3,2.2,"114,160","38,053",2021
9,20210323001016,K,01442115,소마젠,단위 : USD,남,생산,15,NaN,NaN,NaN,15,2.5,"598,641","39,909",2021
0,20210317001183,K,01165739,잉글우드랩,단위: 천USD,남,화장품,86,NaN,NaN,NaN,86,3.9,"6,206",72,2021
1,20210317001183,K,01165739,잉글우드랩,단위: 천USD,여,화장품,73,NaN,NaN,NaN,73,3.9,"4,229",58,2021

In [128]:
# fyer_salary_totamt, jan_salary_am 이상한 케이스 발견 -> 삭제

print(data_dart_3.shape[0])
data_dart_3 = data_dart_3[~((data_dart_3.corp_code == '00261957') & (data_dart_3.year == '2019'))]
print(data_dart_3.shape[0])

24178
24176

In [130]:
# USD 기준 급여 -> 원 기준으로 통일

data_dart_3['fyer_salary_totamt_rev'] = data_dart_3.fyer_salary_totamt.fillna('-1').str.replace(',', '').astype(np.int64)
data_dart_3['fyer_salary_totamt_rev'] = data_dart_3.fyer_salary_totamt_rev.apply(lambda x: np.NaN if x == -1 else x)

data_dart_3['jan_salary_am_rev'] = data_dart_3.jan_salary_am.fillna('-1').str.replace(',', '').astype(np.int64)
data_dart_3['jan_salary_am_rev'] = data_dart_3.jan_salary_am_rev.apply(lambda x: np.NaN if x == -1 else x)

# 1$ = 1,200원으로 가정하고 변환
data_dart_3['fyer_salary_totamt_rev2'] = data_dart_3.apply(lambda r: r.fyer_salary_totamt_rev if r.rm is np.NaN
                  else r.fyer_salary_totamt_rev * 1200 * 1000 if '천USD' in r.rm 
                  else r.fyer_salary_totamt_rev * 1200 if 'USD' in r.rm 
                  else r.fyer_salary_totamt_rev, axis=1)
data_dart_3['jan_salary_am_rev2'] = data_dart_3.apply(lambda r: r.jan_salary_am_rev if r.rm is np.NaN
                  else r.jan_salary_am_rev * 1200 * 1000 if '천USD' in r.rm 
                  else r.jan_salary_am_rev * 1200 if 'USD' in r.rm 
                  else r.jan_salary_am_rev, axis=1)
data_dart_3

,rcept_no,corp_cls,corp_code,corp_name,rm,sexdstn,fo_bbm,rgllbr_co,rgllbr_abacpt_labrr_co,cnttk_co,cnttk_abacpt_labrr_co,sm,avrg_cnwk_sdytrn,fyer_salary_totamt,jan_salary_am,year,fyer_salary_totamt_rev,jan_salary_am_rev,fyer_salary_totamt_rev2,jan_salary_am_rev2
0,20200424000043,K,00956028,엑세스바이오,단위:USD,남,사무,12,NaN,NaN,NaN,12,3.36,"865,006","72,084",2020,8.650060e+05,72084.0,1.038007e+09,86500800.0
1,20200424000043,K,00956028,엑세스바이오,단위:USD,여,사무,8,NaN,NaN,NaN,8,3.81,"395,183","49,398",2020,3.951830e+05,49398.0,4.742196e+08,59277600.0
2,20200424000043,K,00956028,엑세스바이오,단위:USD,남,영업,4,NaN,NaN,NaN,4,4.18,"308,347","77,087",2020,3.083470e+05,77087.0,3.700164e+08,92504400.0
3,20200424000043,K,00956028,엑세스바이오,단위:USD,여,영업,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,NaN,NaN,NaN,NaN
4,20200424000043,K,00956028,엑세스바이오,단위:USD,남,연구,7,NaN,NaN,NaN,7,3.67,"619,224","88,461",2020,6.192240e+05,88461.0,7.430688e+08,106153200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,20210331003230,K,01264438,자이언트스텝,NaN,여,제작,68,NaN,NaN,NaN,68,2.3,"1,953,000,000","32,000,000",2021,1.953000e+09,32000000.0,1.953000e+09,32000000.0
2,20210331003230,K,01264438,자이언트스텝,NaN,남,연구개발,14,NaN,NaN,NaN,14,1.8,"712,000,000","56,000,000",2021,7.120000e+08,56000000.0,7.120000e+08,56000000.0
3,20210331003230,K,01264438,자이언트스텝,NaN,여,연구개발,6,NaN,NaN,NaN,6,1.1,"146,000,000","30,000,000",2021,1.460000e+08,30000000.0,1.460000e+08,30000000.0
4,20210331003230,K,01264438,자이언트스텝,NaN,남,관리,11,2,NaN,NaN,13,4.1,"451,000,000","47,000,000",2021,4.510000e+08,47000000.0,4.510000e+08,47000000.0
5,20210331003230,K,01264438,자이언트스텝,NaN,여,관리,8,NaN,NaN,NaN,8,3.8,"291,000,000","36,000,000",2021,2.910000e+08,36000000.0,2.910000e+08,36000000.0

In [139]:
# fo_bbm 명칭에서 공백 제거

data_dart_3['fo_bbm'] = data_dart_3.fo_bbm.fillna('').str.replace('\s+', '', regex=True)
data_dart_3['fo_bbm'].unique().tolist()[:10]

['사무', '영업', '연구', '생산', '관리사무직', '', '전사', '관리', '재무', '기타']

In [151]:
# 평균 근속 년수 데이터 정제
# x년 xx개월 케이스 살펴보기
data_dart_3[data_dart_3.avrg_cnwk_sdytrn.fillna('').str.contains('년')].head(10)

,rcept_no,corp_cls,corp_code,corp_name,rm,sexdstn,fo_bbm,rgllbr_co,rgllbr_abacpt_labrr_co,cnttk_co,cnttk_abacpt_labrr_co,sm,avrg_cnwk_sdytrn,fyer_salary_totamt,jan_salary_am,year,fyer_salary_totamt_rev,jan_salary_am_rev,fyer_salary_totamt_rev2,jan_salary_am_rev2
0,20200327002143,E,00232317,지오엠씨,NaN,남,관리사무직,8,NaN,1,NaN,9,1년2개월,"257,388,809","28,598,757",2020,2.573888e+08,28598757.0,2.573888e+08,28598757.0
1,20200327002143,E,00232317,지오엠씨,NaN,여,관리사무직,3,NaN,NaN,NaN,3,5년0개월,"71,282,353","23,760,784",2020,7.128235e+07,23760784.0,7.128235e+07,23760784.0
1,20190401002398,E,00232317,지오엠씨,NaN,여,관리사무직,2,NaN,NaN,NaN,2,6년 2개월,"63,269,832","31,634,916",2019,6.326983e+07,31634916.0,6.326983e+07,31634916.0
0,20200330001373,E,01063963,유쎌,NaN,남,,7,NaN,NaN,NaN,7,5년5개월,"468,800,000","66,971,000",2020,4.688000e+08,66971000.0,4.688000e+08,66971000.0
1,20200330001373,E,01063963,유쎌,NaN,여,,15,NaN,NaN,NaN,15,5년8개월,"385,267,000","25,684,000",2020,3.852670e+08,25684000.0,3.852670e+08,25684000.0
0,20190329001523,E,01063963,유쎌,NaN,남,화장품,8,NaN,NaN,NaN,8,5년 1개월,"502,071,000","62,759,000",2019,5.020710e+08,62759000.0,5.020710e+08,62759000.0
1,20190329001523,E,01063963,유쎌,NaN,여,화장품,37,NaN,NaN,NaN,37,3년 9개월,"656,966,000","17,756,000",2019,6.569660e+08,17756000.0,6.569660e+08,17756000.0
0,20200330004519,E,00343127,자유투어,NaN,남,여행사업부,47,47,NaN,NaN,47,4년5개월,"1,793,156,000","38,152,000",2020,1.793156e+09,38152000.0,1.793156e+09,38152000.0
1,20200330004519,E,00343127,자유투어,NaN,여,여행사업부,85,85,NaN,NaN,85,3년2개월,"2,621,525,000","30,841,000",2020,2.621525e+09,30841000.0,2.621525e+09,30841000.0
0,20190710000677,E,00343127,자유투어,NaN,남,여행사업부,49,NaN,1,NaN,50,4년 4개월,"1,876,003,000","38,268,000",2019,1.876003e+09,38268000.0,1.876003e+09,38268000.0

In [194]:
# x년 xx개월 -> float 형태로 수정
# xx일은 무시

data_dart_3['avrg_cnwk_sdytrn_rev'] = data_dart_3.avrg_cnwk_sdytrn.apply(
    lambda x: x if type(x) == float 
    else int(re.search('(\d+)\s*년\s*(\d+)\s*개?월' , x).group(1)) + 
                  round(int(re.search('(\d+)\s*년\s*(\d+)\s*개?월' , x).group(2))/12, 2) if '년' in x and '월' in x
    else int(re.search('(\d+)\s*년\s*' , x).group(1)) if '년' in x
    else round(int(re.search('(\d+)\s*개?월' , x).group(1))/12, 2) if '월' in x
    else x)

data_dart_3

,rcept_no,corp_cls,corp_code,corp_name,rm,sexdstn,fo_bbm,rgllbr_co,rgllbr_abacpt_labrr_co,cnttk_co,...,sm,avrg_cnwk_sdytrn,fyer_salary_totamt,jan_salary_am,year,fyer_salary_totamt_rev,jan_salary_am_rev,fyer_salary_totamt_rev2,jan_salary_am_rev2,avrg_cnwk_sdytrn_rev
0,20200424000043,K,00956028,엑세스바이오,단위:USD,남,사무,12,NaN,NaN,...,12,3.36,"865,006","72,084",2020,8.650060e+05,72084.0,1.038007e+09,86500800.0,3.36
1,20200424000043,K,00956028,엑세스바이오,단위:USD,여,사무,8,NaN,NaN,...,8,3.81,"395,183","49,398",2020,3.951830e+05,49398.0,4.742196e+08,59277600.0,3.81
2,20200424000043,K,00956028,엑세스바이오,단위:USD,남,영업,4,NaN,NaN,...,4,4.18,"308,347","77,087",2020,3.083470e+05,77087.0,3.700164e+08,92504400.0,4.18
3,20200424000043,K,00956028,엑세스바이오,단위:USD,여,영업,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2020,NaN,NaN,NaN,NaN,NaN
4,20200424000043,K,00956028,엑세스바이오,단위:USD,남,연구,7,NaN,NaN,...,7,3.67,"619,224","88,461",2020,6.192240e+05,88461.0,7.430688e+08,106153200.0,3.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,20210331003230,K,01264438,자이언트스텝,NaN,여,제작,68,NaN,NaN,...,68,2.3,"1,953,000,000","32,000,000",2021,1.953000e+09,32000000.0,1.953000e+09,32000000.0,2.3
2,20210331003230,K,01264438,자이언트스텝,NaN,남,연구개발,14,NaN,NaN,...,14,1.8,"712,000,000","56,000,000",2021,7.120000e+08,56000000.0,7.120000e+08,56000000.0,1.8
3,20210331003230,K,01264438,자이언트스텝,NaN,여,연구개발,6,NaN,NaN,...,6,1.1,"146,000,000","30,000,000",2021,1.460000e+08,30000000.0,1.460000e+08,30000000.0,1.1
4,20210331003230,K,01264438,자이언트스텝,NaN,남,관리,11,2,NaN,...,13,4.1,"451,000,000","47,000,000",2021,4.510000e+08,47000000.0,4.510000e+08,47000000.0,4.1
5,20210331003230,K,01264438,자이언트스텝,NaN,여,관리,8,NaN,NaN,...,8,3.8,"291,000,000","36,000,000",2021,2.910000e+08,36000000.0,2.910000e+08,36000000.0,3.8

In [195]:
data_dart_3[data_dart_3.avrg_cnwk_sdytrn.fillna('').str.contains('년')].head(10)

,rcept_no,corp_cls,corp_code,corp_name,rm,sexdstn,fo_bbm,rgllbr_co,rgllbr_abacpt_labrr_co,cnttk_co,...,sm,avrg_cnwk_sdytrn,fyer_salary_totamt,jan_salary_am,year,fyer_salary_totamt_rev,jan_salary_am_rev,fyer_salary_totamt_rev2,jan_salary_am_rev2,avrg_cnwk_sdytrn_rev
0,20200327002143,E,00232317,지오엠씨,NaN,남,관리사무직,8,NaN,1,...,9,1년2개월,"257,388,809","28,598,757",2020,2.573888e+08,28598757.0,2.573888e+08,28598757.0,1.17
1,20200327002143,E,00232317,지오엠씨,NaN,여,관리사무직,3,NaN,NaN,...,3,5년0개월,"71,282,353","23,760,784",2020,7.128235e+07,23760784.0,7.128235e+07,23760784.0,5
1,20190401002398,E,00232317,지오엠씨,NaN,여,관리사무직,2,NaN,NaN,...,2,6년 2개월,"63,269,832","31,634,916",2019,6.326983e+07,31634916.0,6.326983e+07,31634916.0,6.17
0,20200330001373,E,01063963,유쎌,NaN,남,,7,NaN,NaN,...,7,5년5개월,"468,800,000","66,971,000",2020,4.688000e+08,66971000.0,4.688000e+08,66971000.0,5.42
1,20200330001373,E,01063963,유쎌,NaN,여,,15,NaN,NaN,...,15,5년8개월,"385,267,000","25,684,000",2020,3.852670e+08,25684000.0,3.852670e+08,25684000.0,5.67
0,20190329001523,E,01063963,유쎌,NaN,남,화장품,8,NaN,NaN,...,8,5년 1개월,"502,071,000","62,759,000",2019,5.020710e+08,62759000.0,5.020710e+08,62759000.0,5.08
1,20190329001523,E,01063963,유쎌,NaN,여,화장품,37,NaN,NaN,...,37,3년 9개월,"656,966,000","17,756,000",2019,6.569660e+08,17756000.0,6.569660e+08,17756000.0,3.75
0,20200330004519,E,00343127,자유투어,NaN,남,여행사업부,47,47,NaN,...,47,4년5개월,"1,793,156,000","38,152,000",2020,1.793156e+09,38152000.0,1.793156e+09,38152000.0,4.42
1,20200330004519,E,00343127,자유투어,NaN,여,여행사업부,85,85,NaN,...,85,3년2개월,"2,621,525,000","30,841,000",2020,2.621525e+09,30841000.0,2.621525e+09,30841000.0,3.17
0,20190710000677,E,00343127,자유투어,NaN,남,여행사업부,49,NaN,1,...,50,4년 4개월,"1,876,003,000","38,268,000",2019,1.876003e+09,38268000.0,1.876003e+09,38268000.0,4.33

In [196]:
#data_dart_3.to_pickle('data_dart_3_rev.pkl')
data_dart_3 = pd.read_pickle('data_dart_3_rev.pkl')
data_dart_3

,rcept_no,corp_cls,corp_code,corp_name,rm,sexdstn,fo_bbm,rgllbr_co,rgllbr_abacpt_labrr_co,cnttk_co,...,sm,avrg_cnwk_sdytrn,fyer_salary_totamt,jan_salary_am,year,fyer_salary_totamt_rev,jan_salary_am_rev,fyer_salary_totamt_rev2,jan_salary_am_rev2,avrg_cnwk_sdytrn_rev
0,20200424000043,K,00956028,엑세스바이오,단위:USD,남,사무,12,NaN,NaN,...,12,3.36,"865,006","72,084",2020,8.650060e+05,72084.0,1.038007e+09,86500800.0,3.36
1,20200424000043,K,00956028,엑세스바이오,단위:USD,여,사무,8,NaN,NaN,...,8,3.81,"395,183","49,398",2020,3.951830e+05,49398.0,4.742196e+08,59277600.0,3.81
2,20200424000043,K,00956028,엑세스바이오,단위:USD,남,영업,4,NaN,NaN,...,4,4.18,"308,347","77,087",2020,3.083470e+05,77087.0,3.700164e+08,92504400.0,4.18
3,20200424000043,K,00956028,엑세스바이오,단위:USD,여,영업,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2020,NaN,NaN,NaN,NaN,NaN
4,20200424000043,K,00956028,엑세스바이오,단위:USD,남,연구,7,NaN,NaN,...,7,3.67,"619,224","88,461",2020,6.192240e+05,88461.0,7.430688e+08,106153200.0,3.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,20210331003230,K,01264438,자이언트스텝,NaN,여,제작,68,NaN,NaN,...,68,2.3,"1,953,000,000","32,000,000",2021,1.953000e+09,32000000.0,1.953000e+09,32000000.0,2.3
2,20210331003230,K,01264438,자이언트스텝,NaN,남,연구개발,14,NaN,NaN,...,14,1.8,"712,000,000","56,000,000",2021,7.120000e+08,56000000.0,7.120000e+08,56000000.0,1.8
3,20210331003230,K,01264438,자이언트스텝,NaN,여,연구개발,6,NaN,NaN,...,6,1.1,"146,000,000","30,000,000",2021,1.460000e+08,30000000.0,1.460000e+08,30000000.0,1.1
4,20210331003230,K,01264438,자이언트스텝,NaN,남,관리,11,2,NaN,...,13,4.1,"451,000,000","47,000,000",2021,4.510000e+08,47000000.0,4.510000e+08,47000000.0,4.1
5,20210331003230,K,01264438,자이언트스텝,NaN,여,관리,8,NaN,NaN,...,8,3.8,"291,000,000","36,000,000",2021,2.910000e+08,36000000.0,2.910000e+08,36000000.0,3.8

### 4. 주요계정
* 사업보고서만 추출

In [215]:
data_dart_4 = pd.DataFrame()
year = '2020'

for code in tqdm(data_dart_3.corp_code.unique().tolist()):
    url = f'https://opendart.fss.or.kr/api/fnlttSinglAcnt.json?crtfc_key={api_key}&corp_code={code}&bsns_year={year}&reprt_code=11011'
    res = requests.get(url)
    text = json.loads(res.text)
    if text['message'] == '정상':
        # 손익계산서만 추출
        tmp = pd.DataFrame([d for d in text['list'] if d['sj_div'] == 'IS'])
        data_dart_4 = pd.concat([data_dart_4, tmp], axis=0)
    
    time.sleep(0.5)
    
data_dart_4

100%|██████████████████████████████████████████████████████████████████████████████| 2587/2587 [26:38<00:00,  1.62it/s]

,rcept_no,reprt_code,bsns_year,corp_code,stock_code,fs_div,fs_nm,sj_div,sj_nm,account_nm,thstrm_nm,thstrm_dt,thstrm_amount,frmtrm_nm,frmtrm_dt,frmtrm_amount,bfefrmtrm_nm,bfefrmtrm_dt,bfefrmtrm_amount,ord
0,20210316000210,11011,2020,00956028,950130,CFS,연결재무제표,IS,손익계산서,매출액,제 19 기,2020.01.01 ~ 2020.12.31,"103,213,745",제 18 기,2019.01.01 ~ 2019.12.31,"36,939,637",제 17 기,2018.01.01 ~ 2018.12.31,"36,571,123",23
1,20210316000210,11011,2020,00956028,950130,CFS,연결재무제표,IS,손익계산서,영업이익,제 19 기,2020.01.01 ~ 2020.12.31,"58,222,516",제 18 기,2019.01.01 ~ 2019.12.31,"-6,895,892",제 17 기,2018.01.01 ~ 2018.12.31,"-3,982,259",25
2,20210316000210,11011,2020,00956028,950130,CFS,연결재무제표,IS,손익계산서,법인세차감전 순이익,제 19 기,2020.01.01 ~ 2020.12.31,"52,946,039",제 18 기,2019.01.01 ~ 2019.12.31,"-18,540,180",제 17 기,2018.01.01 ~ 2018.12.31,"-5,580,613",27
3,20210316000210,11011,2020,00956028,950130,CFS,연결재무제표,IS,손익계산서,당기순이익,제 19 기,2020.01.01 ~ 2020.12.31,"40,517,092",제 18 기,2019.01.01 ~ 2019.12.31,"-17,720,599",제 17 기,2018.01.01 ~ 2018.12.31,"-5,802,229",29
4,20210316000210,11011,2020,00956028,950130,OFS,재무제표,IS,손익계산서,매출액,제 19 기,2020.01.01 ~ 2020.12.31,"92,215,510",제 18 기,2019.01.01 ~ 2019.12.31,"32,067,422",제 17 기,2018.01.01 ~ 2018.12.31,"34,158,734",24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,20210331003230,11011,2020,01264438,289220,CFS,연결재무제표,IS,손익계산서,법인세차감전 순이익,제 13 기,2020.01.01 ~ 2020.12.31,"-1,459,877,388",제 12 기,2019.01.01 ~ 2019.12.31,"-1,779,724,876",제 11 기,2018.01.01 ~ 2018.12.31,-,27
2,20210331003230,11011,2020,01264438,289220,CFS,연결재무제표,IS,손익계산서,당기순이익,제 13 기,2020.01.01 ~ 2020.12.31,"-1,422,167,643",제 12 기,2019.01.01 ~ 2019.12.31,"-3,142,183,408",제 11 기,2018.01.01 ~ 2018.12.31,-,29
3,20210331003230,11011,2020,01264438,289220,OFS,재무제표,IS,손익계산서,매출액,제 13 기,2020.01.01 ~ 2020.12.31,"15,535,548,208",제 12 기,2019.01.01 ~ 2019.12.31,"12,839,024,832",제 11 기,2018.01.01 ~ 2018.12.31,-,24
4,20210331003230,11011,2020,01264438,289220,OFS,재무제표,IS,손익계산서,법인세차감전 순이익,제 13 기,2020.01.01 ~ 2020.12.31,"-1,506,710,609",제 12 기,2019.01.01 ~ 2019.12.31,"-3,895,408,874",제 11 기,2018.01.01 ~ 2018.12.31,-,28
5,20210331003230,11011,2020,01264438,289220,OFS,재무제표,IS,손익계산서,당기순이익,제 13 기,2020.01.01 ~ 2020.12.31,"-1,506,710,609",제 12 기,2019.01.01 ~ 2019.12.31,"-4,430,176,631",제 11 기,2018.01.01 ~ 2018.12.31,-,30

In [217]:
#data_dart_4.to_pickle('data_dart_5.pkl')
data_dart_4 = pd.read_pickle('data_dart_5.pkl')  
data_dart_4

,rcept_no,reprt_code,bsns_year,corp_code,stock_code,fs_div,fs_nm,sj_div,sj_nm,account_nm,thstrm_nm,thstrm_dt,thstrm_amount,frmtrm_nm,frmtrm_dt,frmtrm_amount,bfefrmtrm_nm,bfefrmtrm_dt,bfefrmtrm_amount,ord
0,20210316000210,11011,2020,00956028,950130,CFS,연결재무제표,IS,손익계산서,매출액,제 19 기,2020.01.01 ~ 2020.12.31,"103,213,745",제 18 기,2019.01.01 ~ 2019.12.31,"36,939,637",제 17 기,2018.01.01 ~ 2018.12.31,"36,571,123",23
1,20210316000210,11011,2020,00956028,950130,CFS,연결재무제표,IS,손익계산서,영업이익,제 19 기,2020.01.01 ~ 2020.12.31,"58,222,516",제 18 기,2019.01.01 ~ 2019.12.31,"-6,895,892",제 17 기,2018.01.01 ~ 2018.12.31,"-3,982,259",25
2,20210316000210,11011,2020,00956028,950130,CFS,연결재무제표,IS,손익계산서,법인세차감전 순이익,제 19 기,2020.01.01 ~ 2020.12.31,"52,946,039",제 18 기,2019.01.01 ~ 2019.12.31,"-18,540,180",제 17 기,2018.01.01 ~ 2018.12.31,"-5,580,613",27
3,20210316000210,11011,2020,00956028,950130,CFS,연결재무제표,IS,손익계산서,당기순이익,제 19 기,2020.01.01 ~ 2020.12.31,"40,517,092",제 18 기,2019.01.01 ~ 2019.12.31,"-17,720,599",제 17 기,2018.01.01 ~ 2018.12.31,"-5,802,229",29
4,20210316000210,11011,2020,00956028,950130,OFS,재무제표,IS,손익계산서,매출액,제 19 기,2020.01.01 ~ 2020.12.31,"92,215,510",제 18 기,2019.01.01 ~ 2019.12.31,"32,067,422",제 17 기,2018.01.01 ~ 2018.12.31,"34,158,734",24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,20210331003230,11011,2020,01264438,289220,CFS,연결재무제표,IS,손익계산서,법인세차감전 순이익,제 13 기,2020.01.01 ~ 2020.12.31,"-1,459,877,388",제 12 기,2019.01.01 ~ 2019.12.31,"-1,779,724,876",제 11 기,2018.01.01 ~ 2018.12.31,-,27
2,20210331003230,11011,2020,01264438,289220,CFS,연결재무제표,IS,손익계산서,당기순이익,제 13 기,2020.01.01 ~ 2020.12.31,"-1,422,167,643",제 12 기,2019.01.01 ~ 2019.12.31,"-3,142,183,408",제 11 기,2018.01.01 ~ 2018.12.31,-,29
3,20210331003230,11011,2020,01264438,289220,OFS,재무제표,IS,손익계산서,매출액,제 13 기,2020.01.01 ~ 2020.12.31,"15,535,548,208",제 12 기,2019.01.01 ~ 2019.12.31,"12,839,024,832",제 11 기,2018.01.01 ~ 2018.12.31,-,24
4,20210331003230,11011,2020,01264438,289220,OFS,재무제표,IS,손익계산서,법인세차감전 순이익,제 13 기,2020.01.01 ~ 2020.12.31,"-1,506,710,609",제 12 기,2019.01.01 ~ 2019.12.31,"-3,895,408,874",제 11 기,2018.01.01 ~ 2018.12.31,-,28
5,20210331003230,11011,2020,01264438,289220,OFS,재무제표,IS,손익계산서,당기순이익,제 13 기,2020.01.01 ~ 2020.12.31,"-1,506,710,609",제 12 기,2019.01.01 ~ 2019.12.31,"-4,430,176,631",제 11 기,2018.01.01 ~ 2018.12.31,-,30